<!doctype html>
<!-- Declares meanMapApp as the starting Angular module -->
<html class="no-js" ng-app="meanMapApp">
<head>
<body>


                                <ul>

                             <li active><a href="/#/join"><font color="red">Add Ground</font></a></li>
                            <li disabled><a href="/#/find"><font color="red">Search Ground</font></a></li>
                            <a href="/#/groundlist"><font color="red">Edit/Delete Ground</font></a></ul>
                          

</body>
</html>