<!-- All Vendors data in table and search of Vendors -->

<h1>All Grounds </h1>


          <!-- <div ng-control-group="credentials">
              <input
                type="text"
                ng-model="vendorSearch"
                placeholder="Search the Vendor" ng-keyup="search();"
                required></br></br>

 -->
      <table border="1" width="100%">
      <tr>
            <th>
            <a href="" ng-click="sortField = 'groundname'; reverse=!reverse"><font color="black">Ground Name</font></a>
          </th>

           <th>
            <a href="" ng-click="sortField = 'contact'; reverse=!reverse""> <font color="black">PhoneNo</font></a>
          </th>

           <th>
            <a href="" ng-click="sortField = 'groundtype'; reverse=!reverse"><font color="black">Ground Type</font></a>
          </th>

          <th>
            <a href="" ng-click="sortField = 'address'; reverse=!reverse""> <font color="black">address</font></a>
          </th>
           <th>
            <a href="" ng-click="sortField = 'location'; reverse=!reverse""> <font color="black">location</font></a>
          </th>
          <th>
            <a href="" ng-click="sortField = 'location'; reverse=!reverse""> <font color="black">operations</font></a>
          </th>
        </tr>
        <tr  ng-repeat="x in allData  ">
            <td align="center">
            {{x.groundname}}
          </td>

           <td align="center">
            {{x.contact}}
          </td>

           <td align="center">
            {{x.groundtype}}
          </td>
           <td align="center">
            {{x.favlang}}
          </td>
          <td align="center">
            {{x.location}}
          </td>
          <td align="center">
            <a href="" ng-click = "editfun(x.contact)"> <font color="black"> Edit/</font></a> 
            <a href="" ng-click = "deletefun(x.contact);"><font color="black"> Delete</font></a> 
          </td>
        </tr>
      </table>
<form name ="editForm" novalidate ng-controller="groundCtrl" ng-repeat="n in findData">>        
                        <div class="form-group">
                            <label for="username">Groundname <span class="badge">All fields required</span></label>
                            <input type="text" ng-model="groundname1" ng-init="groundname1='{{n.groundname}}'" value="{{n.groundname}}">
                        </div>
                        <label class="radio control-label">Select Ground Type</label>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="radiocricket" value="cricket" ng-model="groundtype">
                                Cricket
                            </label>
                        </div>
                        <div class="radio" required>
                            <label>
                                <input type="radio" name="optionsRadios" id="radiofootball" value="Football" ng-model="groundtype">
                                Football
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="radiotennis" value="tennis" ng-model="groundtype">
                               Tennis
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="radiovolleyball" value="vollyball" ng-model="groundtype">
                               VollyBall
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="radioathelatic" value="athelatic" ng-model="groundtype">
                               Athelatic
                            </label>
                        </div>          
                        <div class="form-group">
                            <label for="contactnumber">Contact Number</label>
                            <input type="number" class="form-control" id="contact" placeholder="+91 Enter Your Phone number" ng-model="contact" ng-init="contact='{{n.contact}}'" value="{{n.contact}}" required>
                        </div>
                        <div class="form-group">
                            <label for="language">Address</label>
                            <input type="text" class="form-control" id="language" placeholder="Enter the Ground Address" ng-model="address" ng-init="address='{{n.favlang}}'" value="{{n.favlang}}" required>
                        </div>
                        <div class="form-group">
                           <label for="contactnumber">Latitude</label>
                            <input type="text" class="form-control" id="location1"  ng-model="location1" ng-init="location1='{{n.location[0]}}'" value="{{n.location[0]}}" required>
                        </div>
                        <div class="form-group">
                           <label for="contactnumber">Longitude</label>
                            <input type="text" class="form-control" id="location2"  ng-model="location2" ng-init="location2='{{n.location[1]}}'" value="{{n.location[1]}}" required>
                        </div>
                        <!-- Submit button. Note that its tied to createUser() function from addCtrl. Also note ng-disabled logic which prevents early submits.  -->
                        <button type="submit" class="btn btn-danger btn-block" ng-click="updatefun()" ng-disabled="addForm.$invalid">Submit</button>
                    </form>