<!-- Find Teammates (Query) Form -->
<div class="col-md-10">

    <!-- Creates Main Panel -->
    <div class="panel panel-default">

        <!-- Panel Title -->
        <div class="panel-heading">
            <h2 class="panel-title text-center">Search the Ground Near from YOU<span class="glyphicon glyphicon-search"></span></h2>
        </div>

        <!-- Panel Body -->
        <div class="panel-body">

            <!-- Creates Form -->
            <form name ="queryForm">

                <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
                <div class="form-group">
                    <label for="latitude">Your Latitude</label>
                    <input type="text" class="form-control" id="latitude" placeholder="automatically take" ng-model="formData.latitude" readonly>
                </div>
                <div class="form-group">
                    <label for="longitude">Your Longitude</label>
                    <input type="text" class="form-control" id="longitude" placeholder="automatically take" ng-model="formData.longitude" readonly>
                </div>
                <div class="form-group">
                    <label for="distance">Max. Distance (km)</label>
                    <input type="text" class="form-control" id="distance" placeholder="50" ng-model="formData.distance">
                </div>

                <!-- Note ng-true-value which translates check values into explicit gender strings -->
                <label>Ground Type</label>
                <div class="form-group">
                    <label class="checkbox-inline">
                        <input type="checkbox" name="optionsRadios" id="checkcricket" value="cricket" ng-model="formData.cricket" ng-true-value = "'cricket'">
                        Cricket
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="optionsRadios" id="checkfetennis" value="tennis" ng-model="formData.tennis" ng-true-value="'tennis'">
                        Tennis
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="optionsRadios" id="checkfootball" value="football" ng-model="formData.football" ng-true-value="'football'">
                        Football
                    </label>
                </div>
                <!-- Query button. Note that its tied to queryUsers() function from queryCtrl.  -->
                <button type="submit" class="btn btn-danger btn-block" ng-click="queryUsers()">Search</button>
            </form>
        </div>

        <!-- Footer panel for displaying count. Note how it will only display if queryCount is greater than 0 -->
        <div ng-show="queryCount>0" class="panel-footer">
            <p class="text-center">got! We Found {{queryCount}} Grounds.</p>
        </div>
    </div>
</div>