<!-- "Join Team" (Post) Form -->
<div class="col-md-10">
            <div class="panel panel-default">
                <!-- Panel Title -->
                <div class="panel-heading">
                    <h2 class="panel-title text-center">login<span class="glyphicon glyphicon-map-marker"></span></h2>
                </div>
                <!-- Panel Body -->
                <div class="panel-body">
                    <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
                    <form name ="userForm" ng-controller="userCtrl" novalidate>
                        <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
                        <div class="form-group">
                            <label for="username">UserName<span class="badge">All fields required</span></label>
                            <input type="text" class="form-control" id="username" placeholder="Enter the UserName" ng-model="username"  required>
                        </div>
                       
                        <div class="form-group">
                            <label for="language">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Enter the password" ng-model="password" required>
                        </div>
                    
                        <button type="submit" class="btn btn-danger btn-block" ng-click="login()">Submit</button>
                    </form>
                </div>
            </div>
    </div>